* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.w {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.top {
  width: 100%;
  background-color: #3A3A3A;
}
.top .t_main {
  overflow: hidden;
}
.top .t_main ul {
  float: left;
}
.top .t_main ul li {
  float: left;
  line-height: 40px;
  font-size: 14px;
  padding: 0 10px;
}
.top .t_main ul li a {
  color: #fff;
}
.top .t_main .login {
  line-height: 40px;
  float: right;
}
.top .t_main .login a {
  color: #fff;
  padding: 0 10px;
  font-size: 14px;
}
.top .t_main .login .submit_btn {
  float: left;
  height: 41px;
  width: 80px;
  background-color: orange;
  text-align: center;
  border-radius: 5px;
}
.nav {
  padding-top: 10px;
}
.nav a {
  color: #888888;
  margin: 1px 16px;
}
.nav a:hover {
  color: #CF0E0F;
}
.nav .n_left {
  width: 400px;
  float: left;
}
.nav .n_right {
  width: 400px;
}
.list {
  overflow: hidden;
  border: 1px solid #E7E7E7;
  font-size: 14px;
}
.list dl {
  float: left;
  width: 360px;
  margin: 10px;
  border-right: 1px solid #E7E7E7;
}
.list dl a {
  color: #888888;
}
.list dl a:hover {
  color: #CF0E0F;
}
.list dl dt {
  font-size: 16px;
  margin-right: 5px;
  float: left;
  width: 15px;
  font-weight: bold;
  color: #555555;
}
.list dl dd {
  float: left;
  margin: 1px 5px;
}
.list .short {
  width: 285px;
}
.list .dl-none {
  border-right: none;
}
.line {
  width: 100%;
  border-bottom: 2px solid #D13939;
  margin-top: -1px;
}
.ad {
  padding-top: 20px;
}
.ad .recommend {
  font-size: 12px;
  padding-top: 10px;
}
.ad .recommend a {
  padding: 10px 10px;
}
.search {
  margin-top: 20px;
}
.search .s_top {
  float: left;
  width: 1000px;
}
.search .s_top .st_l select {
  float: left;
  height: 40px;
  background-color: #E7E7E7;
}
.search .s_top .st_l input {
  float: left;
  width: 200px;
  height: 40px;
  margin-right: -2px;
}
.search .s_top .st_l span {
  float: left;
  margin: 0 2px;
  font-size: 14px;
  width: 70px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #D13939;
}
.search .s_top .st_l span a {
  color: #fff;
}
.search .s_top .st_r {
  float: right;
  width: 400px;
  height: 40px;
  border: 1px solid #E7E7E7;
  text-align: center;
}
.search .s_top .st_r span {
  float: left;
  font-size: 18px;
  height: 40px;
  width: 70px;
  line-height: 40px;
  font-weight: bold;
  background-color: #B7B6B9;
  color: #fff;
}
.search .s_top .st_r a {
  line-height: 40px;
  font-size: 18px;
  color: #333333;
}
.search .s_top .st_r a:hover {
  color: #CF0E0F;
}
.search .s_bottom {
  float: left;
  margin-top: 10px;
  font-size: 14px;
}
.search .s_bottom a {
  color: #206F96;
  margin: 0 10px;
}
.search .s_bottom a:hover {
  color: #CF0E0F;
}
.content1 {
  padding-top: 10px;
}
.content1 .c_left {
  width: 680px;
  overflow: hidden;
  border: 1px solid #E7E7E7;
  border-bottom: none;
  border-top: 2px solid #CF0E0F;
  float: left;
}
.content1 .c_left .cl_top {
  overflow: hidden;
}
.content1 .c_left .cl_top .mb_title {
  float: left;
}
.content1 .c_left .cl_top .mb_title li {
  float: left;
  width: 169.5px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.content1 .c_left .cl_top .mb_title li p {
  padding: 5px;
  line-height: 30px;
}
.content1 .c_left .cl_top .mb_title li p a {
  float: right;
  font-size: 14px;
  color: #206F96;
}
.content1 .c_left .cl_top .mb_title li .mbt_theme {
  font-size: 16px;
}
.content1 .c_left .cl_top .mb_title li .mbt_tip {
  font-size: 12px;
}
.content1 .c_left .cl_top .mb_title .last {
  border-right: none;
}
.content1 .c_left .cl_main {
  overflow: hidden;
}
.content1 .c_left .cl_main .mbd_left {
  width: 169.5px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line {
  overflow: hidden;
  padding: 5px;
  font-size: 14px;
  padding: 15px 5px;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line .title {
  float: left;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line .title a {
  color: #206F96;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line .data {
  float: left;
  color: #B7B6B9;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line .data span {
  color: #D13939;
}
.content1 .c_left .cl_main .mbd_left .mbdl_line .buy {
  float: right;
  background-color: #FE6046;
  color: #fff;
  width: 40px;
  height: 20px;
  border-radius: 3px;
  text-align: center;
}
.content1 .c_left .cl_main .mbd_left1 {
  width: 169.5px;
  border-right: 1px solid #E7E7E7;
  border-bottom: 1px solid #E7E7E7;
}
.content1 .c_left .cl_main .mbd_left1 .hot_ts {
  font-size: 12px;
  line-height: 40px;
}
.content1 .c_left .cl_main .mbd_left1 .hot_ts a {
  color: #206F96;
  padding: 0 10px;
}
.content1 .c_left .cl_main .mbd_left1 .hot_ts .year {
  color: #888888;
  margin-right: 10px;
}
.content1 .c_left .cl_main .mbd_left1 .hot_ts .data {
  color: #D13939;
}
.content1 .c_left .cl_main .mbd_left1 .first {
  padding-top: 7px;
}
.content1 .c_left .cl_main .mbd_left2 {
  width: 169.5px;
  border-bottom: 1px solid #E7E7E7;
  font-size: 12px;
}
.content1 .c_left .cl_main .mbd_left2 .mbdl_lc {
  height: 104px;
  padding: 10px;
}
.content1 .c_left .cl_main .mbd_left2 .mbdl_lc .title {
  font-size: 14px;
  color: #206F96;
  line-height: 40px;
}
.content1 .c_left .cl_main .mbd_left2 .mbdl_lc p {
  color: #666666;
  line-height: 20px;
}
.content1 .c_left .cl_main .mbd_left2 .mbdl_lc p span {
  color: #CF0E0F;
}
.content1 .c_left .cl_main .mbd_left2 .mbdl_lc p a {
  float: right;
  width: 40px;
  height: 20px;
  border: 1px solid #206F96;
  color: #206F96;
  text-align: center;
  border-radius: 3px;
}
.content1 .c_right {
  width: 300px;
  border: 1px solid #E7E7E7;
}
.content1 .c_right p {
  font-size: 12px;
  line-height: 20px;
  padding: 8px 25px;
  text-align: center;
  border-bottom: 1px solid #E7E7E7;
}
.content1 .c_right .cr_main {
  padding: 13px 8px;
}
.content1 .c_right .cr_main a {
  width: 130px;
  height: 50px;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  line-height: 24px;
}
.content1 .c_right .cr_main a strong {
  font-weight: bold;
}
.content1 .c_right .cr_main .login-btn {
  background-color: #CF0E0F;
}
.content1 .c_right .cr_main .register-btn {
  background-color: #3296DD;
}
.content1 .c_right .cr_main .work-time {
  margin-top: 5px;
  border-bottom: none;
}
.content1 .c_right .cr_main .work-time a {
  font-size: 12px;
  margin: 3px;
  color: #3296DD;
}
.content1 .c_right .cr_main .down-mobile {
  border-bottom: none;
}
.content1 .c_right .cr_main .down-mobile a {
  font-size: 12px;
  color: #3A3A3A;
}
.img {
  padding: 20px 0;
}
.assistant {
  border-top: 2px solid   #CF0E0F;
}
.assistant .ass_header {
  padding: 10px;
  overflow: hidden;
  background-color: #FAFAFA;
  border-bottom: 1px solid #E7E7E7;
}
.assistant .ass_header .ui-title-hd {
  float: left;
  font-size: 20px;
}
.assistant .ass_header .ui-title-hd span {
  color: #666666;
  margin-left: 10px;
}
.assistant .ass_header .ui-title-bd {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
.assistant .ass_header .ui-title-bd a {
  float: left;
  margin: 5px 10px;
  color: #666666;
}
.assistant .sub-cont-0 {
  padding-top: 20px;
  width: 300px;
  margin-right: 20px;
}
.assistant .sub-cont-0 .panel-titlebar {
  overflow: hidden;
  border-bottom: 1px solid #888888;
}
.assistant .sub-cont-0 .panel-titlebar h3 {
  float: left;
  font-size: 18px;
  color: #555555;
  border-bottom: 2px solid #CF0E0F;
}
.assistant .sub-cont-0 .panel-titlebar .ui-title-fr {
  float: right;
  font-size: 14px;
}
.assistant .sub-cont-0 .panel-titlebar .ui-title-fr a {
  color: #B7B6B9;
}
.assistant .sub-cont-0 .ui-list {
  font-size: 14px;
  padding-top: 10px;
}
.assistant .sub-cont-0 .ui-list li {
  line-height: 30px;
}
.assistant .sub-cont-0 .ui-list li a {
  color: #333333;
}
.assistant .sub-cont-0 .ui-list li a:hover {
  color: #CF0E0F;
}
.assistant .sub-cont-0 .head-list-panel {
  padding-bottom: 20px;
}
.assistant .ass_right {
  padding-top: 20px;
  width: 300px;
}
.assistant .ass_right h3 {
  padding-left: 5px;
  font-size: 20px;
  color: #333333;
}
.assistant .ass_right .select {
  margin: 10px 0;
  border: 1px solid #E7E7E7;
  overflow: hidden;
  background-color: #E7E7E7;
}
.assistant .ass_right .select select {
  float: left;
  width: 120px;
  margin: 14px;
}
.assistant .ass_right .select input {
  font-size: 12px;
  float: left;
  width: 120px;
  margin: 14px;
}
.assistant .ass_right a {
  float: left;
  width: 120px;
  height: 40px;
  margin: 14px;
  font-size: 12px;
  text-align: center;
  line-height: 40px;
  color: #3296DD;
}
.assistant .ass_right .big {
  font-size: 20px;
  background-color: #DC3A3A;
  border-radius: 7px;
  color: #fff;
}
.footer {
  width: 1349px;
  text-align: center;
  background-color: #212121;
}
.footer p {
  line-height: 50px;
  color: #999999;
  font-size: 14px;
}
.footer p a {
  color: #CCCCCC;
}
.footer p a:hover {
  color: #CC3300;
}
.footer p span {
  margin: 0 10px;
}
